<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:db.properties"/>

	<!--进行 Spring JDBC 的底层配置(数据源的配置)-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
	</bean>

	<!--配置 jdbcTemplate-->
	<!--这个 beanId 最好固定叫 jdbcTemplate-->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<!--给 Spring JDBC 绑定相应的数据源-->
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!--编程式事务的配置(配置事务管理器)-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="userDao" class="com.lxcecho.dao.impl.UserDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>

	<bean id="userService" class="com.lxcecho.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>

	<bean id="userServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="target" ref="userService"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<!--PROPAGATION_REQUIRED：默认选择，如果当前没有事务，就新建一个事务，如果已经存在一个事务，则加入到这个事务中-->
				<prop key="save">PROPAGATION_REQUIRED</prop>
				<prop key="update">PROPAGATION_REQUIRED</prop>
				<prop key="remove">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

</beans>